@media(max-width:767.98px){
    /* navbar part  */
    .navbar__icon{
        display: none;
    }
    #navbar{
        display: none;
    }
    /* banner part  */
    .container{
        width: 100%;
    }
    .banner__main{
        display: block;
        width: 100%;
    }
    .banner__left{
        text-align: center;
        width: 100%;
    }
    .banner__left h2{
        font-size: 20px;
        width: 100%;
    }
    .banner__left p{
        width: 350px;
        margin: 0 auto;
    }
    .banner__right{
        width: 100%;
        margin: 20px auto;
    }
    .banner__right img{
         width: 80%;
    }
    .banner__right p{
        width: auto;
    }
    .banner__bottom{
        width: 80%;
        padding-top: 50px;
    }
    .banner__bottom h3{
        padding: 20px;
    }
/* START PROJECT PART  */
    .project__hade{
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
    .project__hade_left::after{
        width: 0;
        height: 0;
    }
    .project__cards{
        flex-direction: column;
        align-items: center;
    }
    .project__card{
        margin: 25px auto;
    }

/* SLILLS PART START  */
    .skills__hade::before{
        width: 0;
        height: 0;        
    }
    .skills__hade{
        margin-top: 50px;
    }
    .skills__hade h3{
        padding: 0 15px;
    }
    .skills__main{
        display: block;
        margin-top: 25px;
    }
    .skills__main_img{
        display: none;
    }
    .skills__main_cards{
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    .skllis__card_top{
        margin-top: 16px;
    }
    
/* ABIUT PART START  */
    .about__hade::before{
        width: 0;
    }
    .about__right{
        display: none;
    }
    .about__main{
        
        background: linear-gradient(rgba(40, 44, 51, 0.8), rgba(40, 44, 51, 0.8)), url(../images/about.png) no-repeat;
        background-position: center;
        background-size: 80%;
    }
    .about__left p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .about__hade h3{
        padding: 0 15px;
    }
    .about__hade a{
        display: flex;
        justify-content: center;
    }
    .about__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
/* Contact part start  */
    .contact__hade::before{
        width: 0;
    }
    .contact__hade{
        padding: 0 15px;
    }
    .contact__main{
        flex-direction: column;
        align-items: center;
    }
    .contact__left{
        width: auto;
        text-align: center;
    }
    .contact__right{
        margin-top: 25px;
        width: 220px;
    }
    .footer_main{
        flex-direction: column;
        align-items: center;        
    }
    .footer__left p{
        width: auto;
        text-align: center;
    }
    .footer__left_logo{
        justify-content: space-around;
    }
    

}
@media(min-width:768px) and (max-width:991.98px){

}
@media(min-width:992px) and (max-width:1199.98px){

}