/* common style part start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}
body{
    background-color: #282C33;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* common style part end */


/* navbhar part start  */
#navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 8px 0;
    margin-bottom: 62px;
    position: relative;
}
.navbar__manu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__manu ul li{
    padding: 0 16px;
    color: #ABB2BF;
}
.navbar__manu ul li span{
    color: #C778DD;
    font-weight: 500;
}
.navbar__active{
    font-weight: 600;
}
/* navbat icon part  */
.navbar__icon{
    position: fixed;
    top: 0;
    left: 100px;
    transform: translate(-100%);
    
}
.navbar__icon_line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar__icon_line::before{
    content: "";
    width: 1px;
    height: 190px;
    background-color: white;
    /* z-index: 1; */
}
.navbar__icon_line a{
    color: #ABB2BF;
    padding: 10px 0;
    font-size: 35px;
}
/* navbhar part end */


/* banner part start */
.banner__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.banner__left{
    width: 50%;
}
.banner__left h2{
    color: #fff;
}
.banner__left h2 span{
    color: #C778DD;
    /* font-size: 32px;
    font-weight: 600; */
    position: relative;
}
.banner__left h2 span::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 4px;
    background-color: #C778DD;
    top: -2px;
    right: -7px;
    animation: bafar 0.8s infinite ;
}
/* blink animation part  */
@keyframes bafar{
    0%{
        background-color: transparent;
    }
    50%{
        background-color: #C778DD;

    }
    100%{
        background-color: transparent;
    }
}
/* blinks animation part end  */
.banner__left p{
    color: #ABB2BF;
    width: 463px;
    padding: 32px 0 24px 0;
}
.banner__left a{
    color: #fff;
    border: 1px solid #C778DD;
    padding: 8px 16px;
}
.banner__left a:hover{
    background-color: rgba(199, 120, 221, 0.2);
}
.banner__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__right p{
    color: #ABB2BF;
    border: 1px solid #ABB2BF;
    width: 392px;
    padding: 8px;
}
.banner__right p i{
    color: #C778DD;
}
.banner__right p span{
    color: white;
}
.banner__bottom{
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    width: 712px;
    margin: 0 auto;
}
.banner__bottom h3{
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 32px;
}
.banner__bottom_text1{
    text-align: center;
    border: 1px solid #ABB2BF;
}
.banner__bottom_text2{
    /* text-align: right; */
    border-top: none;
    width: 162px;
    margin-left: 100%;
    text-align: center;
    transform: translate(-100%);
    border: 1px solid #ABB2BF;
    border-top: none;
}
.icon1 {
    width: 25.47px;
    position: absolute;
    left: 13px;
    transform:translate(13px, -50%);
    background: #282C33;
    padding: 8px;
}
.icon2 {
    width: 25.47px;
    position: absolute;
    bottom: 0;
    right: 13px;
    transform: rotate(180deg) translate(13px, -50%);
    background: #282C33;
    padding: 8px;
}
/* banner part end */


/* project part start */
#project{
    margin-top: 74px;
}
.project__hade{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.project__hade_left::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 511px;
    background-color: #C778DD;
    left: 50%;
    top: 50%;
    transform: translate(-64%, -50%);
}
.project__hade_left h3{
    font-size: 32px;
    color: #fff;
    font-weight: 500;
}
.project__hade_left h3 span{
    color: #C778DD;
}
.project__hade_right a{
    color: white;
}
.project__cards{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.project__card{
    border: 1px solid #ABB2BF;
    width: 330.58px;
    height: 100%;
}
.project__card_titel{
    font-size: 16px;
    color:#ABB2BF;
    border-bottom: 1px solid #ABB2BF;
    padding: 8px 0;
    line-height: 25px;
    padding-left: 8px;
}
.project__card_hade{
    color: white;
    font-weight: 500;
    width: 80%;
}
.project__card_ditels{
    padding: 16px;
}
.project__card_ditels p{
    color: #ABB2BF;
    padding: 16px 0;
    line-height: 21px;
}
.project__card_ditels .live_btn{
    color: #fff;
    border: 1px solid #C778DD;
    padding: 8px 16px;
}
.project__card_ditels .live_btn:hover{
    background-color: rgba(199, 120, 221, 0.2)
}
.project__card_ditels .cached_btn{
    color: #ABB2BF;
    border: 1px solid #ABB2BF;
    padding: 8px 16px;
}
.project__card_ditels .cached_btn:hover{
    background-color: rgba(171, 178, 191, 0.2)
}

/* project part end */

/* skills part start  */
#skills{
    margin-bottom: 112px;
}
.skills__hade{
    position: relative;
    margin-top: 106px  ;
}
.skills__hade h3{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.skills__hade h3 span{
    color: #C778DD;
}
.skills__hade::before {
    content: '';
    width: 239px;
    height: 1px;
    background-color: #C778DD;
    top: 50%;
    left: 40%;
    position: absolute;
    transform: translate(-100%);
}
.skills__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills__main_img {
    width: 349px;
    height: 282px;
    margin-right: 59px;
}
.skills__main_img img{
    width: 100%;
}
.skills__main_cards{
    display: flex;
    justify-content: right;
    /* width: 584px; */
}
.skills__card{
    margin: 0 8px;
}
.skills__card_hade{
    border: 1px solid #ABB2BF;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    display: block;
}
.skllis__card_detels{
    border: 1px solid #ABB2BF;
    border-top: none;
    padding: 8px;
}
.skllis__card_detels p{
    color: #ABB2BF;
    padding: 4px 0;
}
.skllis__card_bottam{
    margin-top: 16px;
}
/* skills part end  */


/* skills part start  */
/* #about{
    margin-bottom: 100px;
} */
.about__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__hade{
    position: relative;
}

.about__hade h3{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.about__hade h3 span{
    color: #C778DD;
}
.about__hade::before {
    content: '';
    width: 326px;
    height: 1px;
    background-color: #C778DD;
    top: 50%;
    left: 30px;
    position: absolute;
    transform: translate(50%);
}
.about__left{
    width: 515px;
}
.about__left p{
    color: #ABB2BF;
}
.about__left a{
    color: #fff;
    border: 1px solid #C778DD;
    padding: 8px 16px;
    margin-top: 27px;
}
.about__left a:hover{
    background-color: rgba(199, 120, 221, 0.2);
}
.about__right img {
    width: 90%;
}
/* skills part end  */


/* contacts part start  */
#contact{
    margin: 112px 0;
}
.contact__hade{
    position: relative;
}
.contact__hade h3{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.contact__hade h3 span{
    color: #C778DD;
}
.contact__hade::before {
    content: '';
    width: 174px;
    height: 1px;
    background-color: #C778DD;
    top: 50%;
    left: 36%;
    position: absolute;
    transform: translate(-100%);
}
.contact__main{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}
.contact__left{
    width: 505px;
}
.contact__left p{
    color: #ABB2BF;
}
.contact__right{
    width: 220px;
    border: 1px solid #ABB2BF;
    padding: 16px;
}
.contact__right h4{
    color: #ABB2BF;
    padding-bottom: 8px;
    font-weight: 600;
}
.contact__right a{
    color: #ABB2BF;
    padding-top: 8px;
}
/* contacts part end  */

/* footer part start  */
.footer_main{
    display: flex;
    justify-content: space-between;
    padding: 32px 0 48px 0;
}
.footer__left_logo {
    display: flex;
    align-items: center;
}
.footer__left_logo a{
    padding-left: 32px;
    color: #ABB2BF;
}
.footer__left_logo img{
    width: 105px;
}
.footer__left p{
    width: 476px;
    color: #fff;
    padding-top: 21px;
}
.footer__right{
    text-align: center;
}

.footer__right h3{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 12px;
}
.footer__right a{
    color: #ABB2BF;
    font-size: 24px;
    padding-right: 11px;
}
.copyright{
    text-align: center;
    color: #ABB2BF;
    padding-bottom: 32px;
}
/* footer part end  */

