/* common style part start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}
body{
    background-color: #282C33;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* common style part end */


/* navbhar part start  */
#navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 8px 0;
    margin-bottom: 62px;
}
.navbar__manu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__manu ul li{
    padding: 0 16px;
    color: #ABB2BF;
}
.navbar__manu ul li span{
    color: #C778DD;
    font-weight: 500;
}
.navbar__active{
    font-weight: 600;
}
/* navbat icon part  */
#navbar {
    position: relative;
}
.navbar__icon{
    position: absolute;
    top: 0;
    left: 120px;
}
.navbar__icon_line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar__icon_line::after{
    content: "";
    width: 1px;
    height: 190px;
    color: white;
}
.navbar__icon_line a{
    color: #ABB2BF;
    padding: 10px 0;
    font-size: 35px;
}
/* navbhar part end */


/* banner part start */
.banner__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.banner__left{
    width: 50%;
}
.banner__left h2{
    color: #fff;
}
.banner__left h2 span{
    color: #C778DD;
    font-size: 32px;
    font-weight: 600;
    position: relative;
}
.banner__left h2 span::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 4px;
    background-color: #C778DD;
    top: 4px;
    right: -6px;
    animation: bafar 1s infinite ;
}
/* blink animation part  */
@keyframes bafar{
    0%{
        background-color: transparent;
    }
    50%{
        background-color: #C778DD;

    }
    100%{
        background-color: transparent;
    }
}
/* blinks animation part end  */
.banner__left p{
    color: #ABB2BF;
    width: 463px;
    padding: 32px 0 24px 0;
}
.banner__left a{
    color: #fff;
    border: 1px solid #C778DD;
    padding: 8px 16px;
}
.banner__left a:hover{
    background-color: rgba(199, 120, 221, 0.2);
}
.banner__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__right p{
    color: #ABB2BF;
    border: 1px solid #ABB2BF;
    width: 392px;
    padding: 8px;
}
.banner__right p i{
    color: #C778DD;
}
.banner__right p span{
    color: white;
}


/* banner part end */